body {
  background-color: var(--background);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0;
  color: var(--text);
  /* padding: 100px; */
}

a {
  color: var(--text);
  text-decoration: none;
}

:root {
  --text: #0d0b0b;
  --background: #f7f4f4;
  --primary: #a56c63;
  --secondary: #d5ada7;
  --accent: #c98076;
}

.dark-mode {
  --text: #eae9fc;
  --background: #010104;
  --primary: #9b6059;
  --secondary: #562f29;
  --accent: #873f36;
}

ul {
  list-style-type: none;
}
